body {
   background-image: url('/images/background.jpg');
	background-color: #F5F8FA;
	color:#292F33;
}

#navbar {
	margin-bottom: 4px;
	background-color: white;
	border-radius: 0px;
}

.collapse, .collapse > *{
	margin-bottom: 0px;
}

.navbar-right {
	padding-right: 20px;
}
.row {
	margin: 0px;
}

#navbar > .container{
	padding: 0px;
}

.col-md-3, .col-md-6 {
	padding: 0px 0px 0px 0px;
}

.row-middle, .row-top, .row-bottom, .row-unique{
	background-color: white;
	margin:2px 2px 2px 2px;

}

.row-bottom {
	margin-bottom: 10px;
}

.row-top, .row-unique{
	margin-top: 65px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#persdata-summarized > .img-thumbnail{
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px;
}

#persdata-summarized :nth-child(2){
	margin-top: 10px;
	margin-bottom: 0px;
}

#persdata-summarized :nth-child(3){
	margin: 0px 0px 5px 0px;
	font-size: 12px;
}

#persdata-summarized > table :first-child, #persdata-summarized > table :last-child {
	padding: 0px 20px 0px 0px;
	margin: 0px;
	font-size: 14px;
}

.row-middle > .row-middle {
	border: 1px solid;
	border-color: #c3c3c3;
	margin: 0px 25px 10px 25px;
}

.row-middle > .row > .col-md-6 > .img-rounded,
.row-top > .row > .col-md-6 > .img-rounded {
	float: left;
	margin: 10px 10px 0px 10px;
}

.row-middle > .row > .col-md-6 > p:nth-of-type(1),
.row-top > .row > .col-md-6 > p:nth-of-type(1) {
	margin: 10px 0px 0px 10px;
}

.row-middle > .row > .col-md-6 > p:nth-of-type(1) > strong > a,
.row-top > .row > .col-md-6 > p:nth-of-type(1) > strong > a{
	color: black;
}

.row-middle > .row > .col-md-6 > p:nth-of-type(2),
.row-top > .row > .col-md-6 > p:nth-of-type(2) {
	margin: 0px 0px 10px 10px;
	font-size: 12px;
}

.btn-default {
	margin:10px;
	border-color: #ccc;
	padding: 5px;
}

.row-middle > .row > .col-md-6 > button,
.row-top > .row > .col-md-6 > button {
	float: right;
}

.row-middle > .row:nth-of-type(2) > p,
.row-middle > .row:nth-of-type(3) > p,
.row-top > .row:nth-of-type(2) > p,
.row-top > .row:nth-of-type(3) > p{
	font-size: 16px;
	margin-left: 25px;
	margin-right: 25px;
}

.reaction > button{
	float: left;
	width: 19px;
	height: 20px;
	border: 0px;
	margin: 0px 0px 5px 25px;
}

.reaction > p {
	float: left;
	margin:0px 0px 5px 5px;
}

.reaction > button:first-child {
	background: url('../images/like-gray.png');
}

.reaction > button:first-child:hover {
	background: url('../images/like-colorful.png');
}

.reaction > button:nth-child(3) {
	background: url('../images/dislike-gray.png');
}

.reaction > button:nth-child(3):hover {
	background: url('../images/dislike-colorful.png');
}


.row-bottom,.row-unique {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#groups > p{
	margin: 10px 0px 5px 10px;
}
#groups > div > div > p {
	margin-left: 25px;
	margin-right:20px;
}

.img-rounded {
	float: left;
	margin: 10px 10px 0px 10px;
}

.row-top > p:nth-of-type(1), .row-bottom > p:nth-of-type(1){
	margin: 10px 0px 0px 10px;
}
.row-top > p:nth-of-type(1) >strong > a{
	color: black;
}
.row-top > p:nth-of-type(2){
	margin: 0px 0px 10px 10px;
	font-size: 12px;
}
.row-top > p:nth-of-type(3){
	font-size: 16px;
	margin-left: 25px;
	margin-right: 25px;
}

#group-data p:nth-of-type(1) {
	margin: 10px 0px 10px 10px;
	font-size: 20px;
}

/*Botoes*/
.btn-info {
	border-color: #0084B4;
	background-color: #0084B4;
	margin-bottom: 10px;
}
.btn-link {
	margin-top: 10px;
}

#persdata-complete > .img-thumbnail{
	width: 250px;
	height: 250px;
	margin: 10px 0px 10px 0px;
}

#persdata-complete > p:nth-child(n){
	font-size: 14px;
	margin: 0px 0px 0px 10px;
}
#persdata-complete > p  > a{
	font-size: 20px;
}
#persdata-complete > p:last-child{
	margin: 10px 10px 10px 10px;
}

#persdata-complete > button{
	margin: 5px 0px 10px 10px;
	float: left;
}

#group-members > div > form > div {
	padding-top: 10px;
}

#group-members > div > form > button {
	margin: 15px 0px 0px 0px;
}

#group-members > div > div:nth-child(1n+1) > p {
	float: left;
}

#group-members > div > div > img {
	float: left;
	margin: 0px 5px 5px 25px;
}

textarea{
	width:80%;
}

form > div:nth-child(1) > textarea {margin: 15px 0px 0px 0px;} /*Titulo*/
form > div:nth-child(2) > textarea {margin-top: 0px;} /*Texto*/

footer {
	padding: 10px
}