
<!-- inicio do login-controller -->
<div ng-controller="login-controller">

	<!--VERIFICA SE O USUARIO ESTA LOGADO-->
	<div ng-if="auth == 'false'" ng-init="goPage('#')"></div>

	<!-- BARRA DE NAVEGACAO -->
	<div class="container-fluid">
	    <div class="row">
	        <div id="navbar" class="navbar navbar-default navbar-fixed-top">
	            <div class="container">
	                <div class="navbar-header"><a class="navbar-brand" href=""><img src="images/postit-icon.png" height="20px" width="20px"></a></div>
	                <div id="navbar" class="navbar-collapse collapse">

	                    <ul class="nav navbar-nav">
	                        <li><a href="" ng-click="goPage('content')"> Início </a></li>
	                        <li><a href="" ng-click="goPage('profile')"> Perfil </a></li>
	                        <li><a href="" ng-click="goPage('statistic')"> Estatísticas </a></li>
	                    </ul>

	                    <ul class="nav navbar-nav navbar-right">
	                        <li><a href="" ng-click="logout()"> Sair </a></li>
	                    </ul>

	                    <form class="navbar-form navbar-right" >
	                        <input type="text" class="form-control" placeholder="Buscar...">
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<!-- fim do login-controller -->


<div class="container">
	<div class="row">

		<!-- inicio do userData-controller -->
		<div ng-controller="userData-controller" ng-init="getUserData()">
			
			<!-- COLUNA DA ESQUERDA-->
			<div class="col-md-3">

				<!--CAMPO DE DADOS PESSOAIS-->
				<div class="row row-top" id="persdata-summarized">
					<img class="img-thumbnail" src="images/madruga.jpg" data-holder-rendered="true">
					<p align="left"><strong>{{name}}</strong></br></p>
					<p align="left" style=""><a href="">@{{login}}</a></br></p>
					<table>
						<tr>
							<td align="left" >SEGUINDO: </td>
							<td align="right">{{followers}} </td>
						</tr>
						<tr>
							<td align="left" >SEGUIDORES: </td>
							<td align="right">{{follows}}</td>
						</tr>
						<tr>
							<td align="left" >PUBLICAÇÕES: </td>
							<td align="right">{{tweets}}</td>
						</tr>
					</table>
				</div>

				<!--CAMPO COM OS GRUPOS QUE PARTICIPA-->
				<div class="row row-bottom" id="groups" >
					<p align="left"><strong>GRUPOS</strong></p>

					<!-- inicio do group-controller -->
					<div ng-controller="group-controller">
						<div ng-repeat="g in groupsList">
							<p align="left"><a ng-click="groupSelected(g)"> @{{g.name}} </a></br></p>
						</div>
					
						<hr>

						<form accept-charset="UTF-8" style="margin: 0px">
				            <div style="margin: 0px"><textarea placeholder="Nome" rows="1" ng-model="groupName" style="margin: 0px"></textarea></div>

				            <button class="btn btn-info" ng-click="createGroup()"> Criar grupo </button>
			            </form>
		            </div>
		            <!-- fim do group-controller -->
				</div>
			</div>
		</div>
		<!-- fim do userData-controller -->

			
		<!-- inicio do tweet-controller -->
		<div ng-controller="tweet-controller" ng-init="getTweets()">

			<!-- COLUNA DO MEIO-->
			<div class="col-md-6">

				<!--AREA DE CRIACAO DE POSTAGEM-->
				<div class="row row-top">
			        <form accept-charset="UTF-8" novalidate>
				        <div><textarea placeholder="Título" rows="1" ng-model="tweetToPost.title"></textarea></div>

				        <div><textarea placeholder="O que está acontecendo?" rows="3" ng-model="tweetToPost.tweet"></textarea></div>

				        <button class="btn btn-info" ng-click="createTweet(tweetToPost)">Postar</button>
			        </form>
				</div>

				<!--AREA DA TIMELINE-->
				<div ng-repeat="t in tweetsList">
					<div class="row row-middle">
						<div class="row">
							<div class="col-md-6">
								<img class="img-rounded" src="images/chaves.jpeg" width="40" height="40">
								<p align="left"><strong><a href="">@{{t.login}}</a></strong></p>
								<p align="left"> {{t.day}}/{{t.month}}/{{t.year}} - {{t.hour}}:{{t.minute}}h </p>
							</div>
							<div class="col-md-6">
								<button class="btn btn-default" type="submit"> Republicar</button>
							</div>
						</div>

						<div class="row">
							<p align="left">{{t.title}}</a></p>
						</div>

						<div class="row">
							<p align="left"> {{t.text}}</p>
						</div>

						<div class="row">
							<button type="submit"></button>
							<p>0</p>
							<button type="submit"></button>
							<p>0</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- fim do tweet-controller -->
	</div>
</div>
