

<div class="container">
	<div class="row">

		<!-- inicio do userData-controller -->
		<div ng-controller="userData-controller" ng-init="getUserData()">
			
			<!-- COLUNA DA ESQUERDA-->
			<div class="col-md-3">

				<!--CAMPO DE DADOS PESSOAIS-->
				<div class="row row-top" id="persdata-summarized">
					<img class="img-thumbnail" src="images/madruga.jpg" data-holder-rendered="true">
					<p align="left"><strong>{{name}}</strong></br></p>
					<p align="left" style=""><a ng-click="goToProfile()">@{{login}}</a></br></p>
					<table>
						<tr>
							<td align="left" >SEGUINDO: </td>
							<td align="right">{{followers}} </td>
						</tr>
						<tr>
							<td align="left" >SEGUIDORES: </td>
							<td align="right">{{follows}}</td>
						</tr>
						<tr>
							<td align="left" >PUBLICAÇÕES: </td>
							<td align="right">{{tweets}}</td>
						</tr>
					</table>
				</div>

				<!--CAMPO COM OS GRUPOS QUE PARTICIPA-->
				<div class="row row-bottom" id="groups" >
					<p align="left"><strong>GRUPOS</strong></p>

					<!-- inicio do group-controller -->
					<div ng-controller="group-controller">
						<div ng-repeat="g in groupsList">
							<p align="left"><a ng-click="groupSelected(g)"> {{g.name}} </a></br></p>
						</div>
					
						<hr>

						<form accept-charset="UTF-8">
				            <div><textarea placeholder="Nome" rows="1" ng-model="groupName""></textarea></div>

				            <button class="btn btn-info" ng-click="createGroup()"> Criar grupo </button>
			            </form>
		            </div>
		            <!-- fim do group-controller -->
				</div>
			</div>
		</div>
		<!-- fim do userData-controller -->

		<!-- inicio do group-controller -->
		<div ng-controller="group-controller" ng-init="dataGroup()">

			<!-- COLUNA DO MEIO -->
			<div class="col-md-6">
				<div class="row row-top">
					<h2>{{name_group}}</h2>
				</div>

				<!-- TWEETS DO GRUPO -->
				<div class="row row-middle">
					<div class="row">
						<div class="col-md-6">
							<img class="img-rounded" src="images/girafales.jpg" width="40" height="40">
							<p align="left"><strong><a href="">@Girafales</a></strong></p>
							<p align="left"> 09/04/201 - 15:57h </p>
						</div>
						<div class="col-md-6">
							<button class="btn btn-default" type="submit"> Republicar</button>
						</div>
					</div>
					<div class="row">
						<p align="left"> cd a Chiquinha?</a></p>
					</div>
					<div class="row">
						<p align="left"> A <a href="">@Chiquinha</a> não foi a aula hoje. Sabe dizer o motivo <a href="">@seumadruga</a>?</p>
					</div>

					<div class="row">
						<button type="submit"></button>
						<p>0</p>
						<button type="submit"></button>
						<p>0</p>
					</div>
				</div>
			</div>

			<!-- COLUNA DA DIREITA -->
			<div class="col-md-3">
				<div class="row row-unique" id="group-members">

					<!-- verifica se o usuario eh o dono do grupo:
							se for: mostra as opcoes de adicionar ou remover usuario e de deletar grupo
							se nao for: mostra a opçcao de sair do grupo -->
					<div ng-if="master == userId">
						<form accept-charset="UTF-8">
				            <div><textarea placeholder="Login" rows="1" ng-model="add_member"></textarea></div>

				            <button class="btn btn-info" ng-click="addMember(add_member)"> Adicionar alguém </button>
			            </form>

			            <hr>

						<form accept-charset="UTF-8">
				            <div><textarea placeholder="Login" rows="1" ng-model="del_member"></textarea></div>

				            <button class="btn btn-info" ng-click="deleteMember(del_member)"> Remover alguém </button>
			            </form>

			            <hr>

						<form accept-charset="UTF-8">
				            <button class="btn btn-info" ng-click="deleteGroup()"> Deletar grupo </button>
			            </form>
		            </div>

		            <div ng-if="master != userId">
		            	<form accept-charset="UTF-8">
				            <button style="padding-top: 10px" class="btn btn-info" ng-click="leaveGroup()"> Sair do grupo </button>
			            </form>
		            </div>

		            <hr>

					<div class="row"><p><strong>Membros: {{membersNumber}}</strong></p></div>

					<div ng-repeat="m in members">
						<div class="row">
							<img class="img-rounded" src="images/kiko.jpg" width="20" height="20">
							<p ><a href=""> @{{m.login}} </a></p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- fim do group-controller -->
	</div>
</div>

</div>