<!-- Barra de navegacao -->
<div class="container-fluid">
    <div class="row">
        <div id="navbar" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href=""><img src="images/postit-icon.png" height="20px" width="20px"></a></div>
                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
                        <li><a href="initial"> Início </a></li>
                        <li><a href="notifications"> Notificações </a></li>
                        <li><a href="profile"> Perfil </a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index"> Sair </a></li>
                    </ul>

                    <form class="navbar-form navbar-right" >
                        <input type="text" class="form-control" placeholder="Buscar...">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-controller="c2"> 
<div class="container">
	<div class="row">

		<!-- COLUNA DA ESQUERDA-->
		<div class="col-md-3">

			<!--CAMPO DE DADOS PESSOAIS-->
			<div class="row row-top" id="persdata-summarized">
				<img class="img-thumbnail" src="images/madruga.jpg" data-holder-rendered="true">
				<p align="left"><strong>Madruga</strong></br></p>
				<p align="left" style=""><a href="">@seumadruga</a></br></p>
				<table>
					<tr>
						<td align="left" >SEGUINDO: </td>
						<td align="right">67 </td>
					</tr>
					<tr>
						<td align="left" >SEGUIDORES: </td>
						<td align="right">32</td>
					</tr>
					<tr>
						<td align="left" >NOTAS: </td>
						<td align="right">27</td>
					</tr>
				</table>
			</div>

			<!--CAMPO COM OS GRUPOS QUE PARTICIPA-->
			<div class="row row-bottom" id="groups">
				<p align="left"><strong>GRUPOS</strong></p>
				<p align="left"><a href="group"> @Vila </a></br></p>
				<p align="left"><a href=""> @CAASO </a></br></p>
				<p align="left"><a href=""> @Comp012 </a></br></p>
			</div>
		</div>

		<!-- Barra de conteudo -->
		<div class="col-md-6">
			<div class="row row-top">
				<form action="" method="POST">
					<button class="btn btn-link" type="submit" style="">Carregar mais</button>
				</form>
			</div>

			<div class="row row-middle">

				<img class="img-rounded" src="images/girafales.jpg" width="40", height="40">
				<p align="left"><strong><a href="">@Girafales</a></strong></br></p>
				<p align="left"> 09/04/201 - 16:04h </p>
				<p align="left"> TÁ TÁ TÁ TÁ TÁ TÁ TÁ TÁAAA! Meu nome não é mestre linguiça. Meu nome é Professor Girafales!</p>

			</div>
			<div class="row row-middle">

				<img class="img-rounded" src="images/madruga.jpg" width="40", height="40">
				<p align="left"><strong><a href="">@seumadruga</a></strong></br></p>
				<p align="left"> 09/04/2016 - 15:59h</p>
				<p align="left"> Como não mestre linguiça? Ela saiu de casa para ir a aula... </p>

			</div>

			<div class="row row-middle">

				<img class="img-rounded" src="images/girafales.jpg" width="40", height="40">
				<p align="left"><strong><a href="">@Girafales</a></strong></br></p>
				<p align="left"> 09/04/201 - 15:57h </p>
				<p align="left"> A <a href="">@Chiquinha</a> não foi a aula hoje. Sabe dizer o motivo <a href="">@seumadruga</a>? </p>

			</div>

						<div class="row row-middle">

				<img class="img-rounded" src="images/girafales.jpg" width="40", height="40">
				<p align="left"><strong><a href="">@Girafales</a></strong></br></p>
				<p align="left"> 09/04/201 - 16:04h </p>
				<p align="left"> TÁ TÁ TÁ TÁ TÁ TÁ TÁ TÁAAA! Meu nome não é mestre linguiça. Meu nome é Professor Girafales!</p>

			</div>
			<div class="row row-middle">

				<img class="img-rounded" src="images/madruga.jpg" width="40", height="40">
				<p align="left"><strong><a href="">@seumadruga</a></strong></br></p>
				<p align="left"> 09/04/2016 - 15:59h</p>
				<p align="left"> Como não mestre linguiça? Ela saiu de casa para ir a aula... </p>

			</div>

			<div class="row row-middle">

				<img class="img-rounded" src="images/girafales.jpg" width="40", height="40">
				<p align="left"><strong><a href="">@Girafales</a></strong></br></p>
				<p align="left"> 09/04/201 - 15:57h </p>
				<p align="left"> A <a href="">@Chiquinha</a> não foi a aula hoje. Sabe dizer o motivo <a href="">@seumadruga</a>? </p>

			</div>

			<div class="row row-bottom">
	            <div><form accept-charset="UTF-8" action="" method="POST">
	            	<div><textarea placeholder="Escreva uma resposta..." rows="3"></textarea></div>

	                <button class="btn btn-info" type="submit">Postar</button>
	            </form></div>
			</div>

		</div>

		<div class="col-md-3">
			<div class="row row-unique">
				
				<div>
					<div class="row">
						<div class="col-md-9">
							<p align="left" style="margin:10px;font-size: 18px">GRUPO: <strong>@Vila</strong></p>
						</div>

						<div class="col-md-3">
							<div class="dropdown">
    							<button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown"><strong>...</strong></button>
    							<ul class="dropdown-menu">
    								<!--Se o usuario for dono do grupo-->
      								<li><a href="">Adicionar pessoa</a></li>
								    <li><a href="">Excluir pessoa</a></li>
								    <li><a href="">Deletar grupo</a></li>

								    <!--Se o usuario nao for dono do grupo-->
								    <!--<li><a href="">Sair do grupo</a></li>-->
   								 </ul>
  							</div>
						</div>
					</div>
					<p align="left">15 MEMBROS:</p>
				</div>

				<div class="users-pictures">
					<div>
					<a href=""><img class="img-rounded" src="images/chaves.jpeg" width="60", height="60"></a>
					<a href=""><img class="img-rounded" src="images/nhonho.jpeg" width="60", height="60"></a>
					<a href=""><img class="img-rounded" src="images/barriga.jpg" width="60", height="60"></a>
					<a href=""><img class="img-rounded" src="images/kiko.jpg" width="60", height="60"></a>
					</div>

					<div>
					<a href=""><img class="img-rounded" src="images/madruga.jpg" width="60", height="60"></a>
					<a href=""><img class="img-rounded" src="images/girafales.jpg" width="60", height="60"></a>
					<a href=""><img class="img-rounded" src="" width="60", height="60"></a>
					<a href=""><img class="img-rounded" src="" width="60", height="60"></a>
					</div>

					<div>
					<a href=""><img class="img-rounded" src="" width="60", height="60"></a>
					<a href=""><img class="img-rounded" src="" width="60", height="60"></a>
					<a href=""><img class="img-rounded" src="" width="60", height="60"></a>
					<a href=""><img class="img-rounded" src="" width="60", height="60"></a>
					</div>

				</div>
				<form action="" method="POST">
					<button class="btn btn-link" type="submit">Carregar mais</button>
				</form>
			</div>
		</div>
	</div>
</div>

</div>