

<!-- inicio do login-controller -->
<div ng-controller="login-controller">
    <div ng-if="auth == 'true'" ng-init="goPage('content')"></div>

        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container background-box">
                    <div class="inner cover">

                        <h1 class="cover-heading">PostIt!</h1>
                        <p class="lead">A mais nova Rede Social!</p>
                        <div class="panel-heading">
                            <h3 class="panel-title">Seja bem-vindo! Faça seu login abaixo!</h3>
                        </div>

                        <div class="panel-body">

                            <!--FAZER LOGIN-->
                                <form name="loginForm" novalidate>
                                    <fieldset>
                                        <div class="col-xs-6 col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" ng-model="login_data.user" placeholder="fulano"  type="text" value="">
                                            </div>
                                        </div>

                                        <div class="col-xs-6 col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" ng-model="login_data.password" placeholder="senha" name="password" type="password" value="">
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>

                                <p class="lead">
                                    <input type="submit" class="btn btn-lg btn-primary  btn-success" ng-click="login(login_data)" value="Entrar" /> 
                                </p>

                            <!--FAZER CADASTRO-->
                            <hr/>
                            <p class="lead">
                                <a href="#/signup" class="btn btn-lg btn-primary btn-block signup-btn">Crie sua conta!</a>
                            </p>

                            <hr/>

                            <form name="upload" class="form" data-ng-submit="addFile()" enctype='application/json'>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Importar JSON:</label>
                                    </div>

                                    <div class="col-md-6">
                                        <input type="file" name="file" multiple onchange="angular.element(this).scope().uploadedFile(this)" />
                                    </div>
                                </div>
                                <div class="row">
                                    <p>Obs: não esquecer de alterar os arquivos <strong>api/controllers/MaintenanceController.js</strong>, <strong>config/models.js</strong>, <strong>config/connections.js</strong> e configurar o banco postgres assim como está escrito no Manual </p>
                                    <div class="col-md-6">
                                        <p class="lead">
                                            <button type="submit" class="btn btn-info">Importar</button>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-info" ng-click="exportBD()">Exportar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <p>Trabalho da Disciplina <strong>SCC0219</strong>, by <strong>@Grupo 02</strong>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fim do config-controller -->