    <!--<div ng-app="my-App" ng-controller="Postit-Controller"> -->
    <div ng-controller="c1">
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container background-box">
                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">PostIt</h3>
                            <nav>
                                <ul class="nav masthead-nav">
                                    <li class="active"><a href="#/">Home</a></li>
                                    <li><a href="#">Saiba Mais</a></li>
                                    <li><a href="#">Contato</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="inner cover">
                        <h1 class="cover-heading">PostIt!</h1>
                        <p class="lead">A mais nova Rede Social imitadora do Twitter!</p>
                        <div class="panel-heading">
                            <h3 class="panel-title">Seja bem-vindo! Faça seu login abaixo!</h3>
                        </div>
                        <div class="panel-body">
                            <form accept-charset="UTF-8" role="form">
                                <fieldset>
                                    <div class="col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="yourmail@example.com" name="email" type="text" value="">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="senha" name="password" type="password" value="">
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                                        </label>
                                    </div>
                                </fieldset>
                            </form>
                            <p class="lead">
                                <a href="#/content" class="btn btn-lg btn-primary btn-block btn-success">Entrar</a>
                            </p>
                            <hr/>
                            <center><h4>ou</h4></center>
                            <p class="lead">
                                <a href="#/signup" class="btn btn-lg btn-primary btn-block signup-btn">Crie sua conta!</a>
                            </p>
                        </div>
                    </div>
                    <div class="mastfoot">
                        <div class="inner">
                            <p>Trabalho da Disciplina <a href="#">SCC0219</a>, by <a href="#">@Grupo 02</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
