    <!--<div ng-app="my-App" ng-controller="Postit-Controller"> -->
    <div ng-controller="login-controller">
        <div ng-if="auth == 'true'" ng-init="goPage('content')"></div>

        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container background-box">
                    <div class="inner cover">

                        <h1 class="cover-heading">PostIt!</h1>
                        <p class="lead">A mais nova Rede Social imitadora do Twitter!</p>
                        <div class="panel-heading">
                            <h3 class="panel-title">Seja bem-vindo! Faça seu login abaixo!</h3>
                        </div>

                        <div class="panel-body">

                            <!--FAZER LOGIN-->
                                <form name="loginForm" novalidate>
                                    <fieldset>
                                        <div class="col-xs-6 col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" ng-model="login_data.user" placeholder="fulano"  type="text" value="">
                                            </div>
                                        </div>

                                        <div class="col-xs-6 col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" ng-model="login_data.password" placeholder="senha" name="password" type="password" value="">
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>

                                <p class="lead">
                                    <input type="submit" class="btn btn-lg btn-primary  btn-success" ng-click="login(login_data)" value="Entrar" /> 
                                </p>

                            <!--FAZER CADASTRO-->
                            <hr/>
                            <p class="lead">
                                <a href="#/signup" class="btn btn-lg btn-primary btn-block signup-btn">Crie sua conta!</a>
                            </p>
                        </div>
                    </div>
                    <div class="mastfoot">
                        <div class="inner">
                            <p>Trabalho da Disciplina <a href="#">SCC0219</a>, by <a href="#">@Grupo 02</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
