<div ng-controller="login-controller">
	<!--VERIFICA SE O USUARIO ESTA LOGADO-->
	<div ng-if="auth == 'false'" ng-init="goPage('#')"></div>

<!-- Barra de navegacao -->
<div class="container-fluid">
    <div class="row">
        <div id="navbar" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href=""><img src="images/postit-icon.png" height="20px" width="20px"></a></div>
                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
	                        <li><a href="" ng-click="goPage('content')"> Início </a></li>
	                        <li><a href="" ng-click="goPage('profile')"> Perfil </a></li>
	                        <li><a href="" ng-click="goPage('statistic')"> Estatísticas </a></li>
                    </ul>

                    <!--<div ng-controller="loginController"> -->
                     <div>
	                    <ul class="nav navbar-nav navbar-right">
	                        <li><a ng-click="logout()"> Sair </a></li>
	                    </ul>
                    </div>

                    <form class="navbar-form navbar-right" >
                        <input type="text" class="form-control" placeholder="Buscar...">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-controller="profile-controller"> 
<div class="container">
	<div class="row">

		<!-- Barra lateral esquerda-->
		<div class="col-md-3">	

			<!--Espaco com os dados pessoais-->
			<div class="row row-unique" id="persdata-complete">
				<img class="img-thumbnail" src="images/madruga.jpg" data-holder-rendered="true">

				<p align="left"><strong>{{user.name}}</strong></br></p>
				<p align="left"><a href="">@{{user.login}}</a></br></p>

				<hr>

				<p align="left">E-mail: {{user.email}}</br></p>
				<p align="left">Aniversário: {{user.birthday}}</br></p>
				<p align="left">Sexo: {{user.gender}}</br></p>

				<hr>

				<p align="left">Bio: {{user.bio}}</br></p>

				<hr>
				
				<!--Se o usuario nao segue entao aparece esse botao:-->
				<button class="btn btn-info" type="submit"> Seguir </button>
				
				<!--Se o usuario ja estiver seguindo aparece esse botao:-->
				<!--<button class="btn btn-info" type="submit"> Deixar de Seguir </button>-->

				<!--Se o usuario estiver vendo o proprio perfil aparece esse botao:-->
				<!--<button class="btn btn-info" type="submit"> Configurações </button>-->
			</div>
		</div>

		<!-- Barra de conteudo -->
		<!-- COLUNA DO MEIO-->
	
			<div ng-controller="profile-controller" ng-init="get_userTweets()">
				<div class="col-md-6">
					<div  ng-repeat="t in tweetsList">
				
					<div class="row row-middle">
						<div class="row">
							<div class="col-md-6">
								<img class="img-rounded" src="images/chaves.jpeg" width="40" height="40">
								<p align="left"><strong><a href="">@{{user.login}}</a></strong></p>
								<p align="left"> {{t.day}}/{{t.month}}/{{t.year}} - {{t.hour}}:{{t.minute}}h </p>
							</div>
							<div class="col-md-6">
								<button class="btn btn-default" type="submit"> Republicar</button>
							</div>
						</div>
						<div class="row">
							<p align="left">{{t.title}}</a></p>
						</div>
						<div class="row">
							<p align="left"> {{t.text}}</p>
						</div>

						<div class="row">
							<button type="submit"></button>
							<p>233</p>
							<button type="submit"></button>
							<p>0</p>
						</div>
					</div>
				</div>
				<div class="row row-bottom">
				<form action="" method="POST">
					<button class="btn btn-link" type="submit">Carregar mais postagens</button>
				</form>
			</div>
			</div>
		</div>



		<!--fim da barra do conteudo -->
		<div class="col-md-6" ng-init="get_userTweets()">

			<!-- <div class="row row-top">
				<div class="row">
					<div class="col-md-6">
						<img class="img-rounded" src="images/madruga.jpg" width="40" height="40">
						<p align="left"><strong><a href="">@seumadruga</a></strong></p>
						<p align="left"> 09/04/201 - 22:04h </p>
					</div>
					<div class="col-md-6">
						<button class="btn btn-default" type="submit"> Republicar</button>
					</div>
				</div>
				<div class="row">
					<p align="left"> rsrsrs</a></p>
				</div>
				<div class="row">
					<p align="left">Meu pai deixou o Postit aberto! rsrs aqui é a Chiquinha</p>
				</div>

				<div class="row">
					<button type="submit"></button>
					<p>31</p>
					<button type="submit"></button>
					<p>0</p>
				</div>
			</div>
           -->

		

			
		</div>
	</div>
</div>

</div>