
<div class="container">
	<div class="row">

		<!-- inicio do profile-controller -->
		<div ng-controller="profile-controller" ng-init="get_data()"> 
		
			<!-- COLUNA DA ESQUERDA -->
			<div class="col-md-3">	

				<!--Espaco com os dados pessoais-->
				<div class="row row-unique" id="persdata-complete">
					<img class="img-thumbnail" src="images/madruga.jpg" data-holder-rendered="true">

					<p align="left"><a href="">@{{user.login}}</a></br></p>

					<hr>

					<p align="left">E-mail: {{user.email}}</br></p>
					<p align="left">Aniversário: {{user.birthday}}</br></p>
					<p align="left">Sexo: {{user.gender}}</br></p>

					<hr>

					<p align="left">Bio: {{user.bio}}</br></p>

					<hr>

					<div ng-if="userAuth != userProfile">
						<div ng-if="!follow">
							<button class="btn btn-info" type="submit" ng-click="follow_user()"> Seguir </button>
						</div>

						<div ng-if="follow">
							<button class="btn btn-info" type="submit" ng-click="unfollow_user()"> Deixar de Seguir </button>
						</div>
					</div>

					
					<!--Se o usuario ja estiver seguindo aparece esse botao:-->
					<!--<button class="btn btn-info" type="submit"> Deixar de Seguir </button>-->

				</div>
			</div>

			<!-- COLUNA DO MEIO-->
			<div class="col-md-6">

				<div class="row row-top">
					<h1><strong>{{user.name}}</strong></h1>
				</div>

				<!-- inicio do tweet-controller -->
				<div ng-controller="tweet-controller" ng-init='get_userTweets()'>

					<div ng-repeat="t in tweetsList">
						<div class="row row-middle">
							<div class="row">
								<div class="col-md-6">
									<img class="img-rounded" src="images/chaves.jpeg" width="40" height="40">
									<p align="left"><strong><a >@{{user.login}}</a></strong></p>
									<p align="left"> {{t.day}}/{{t.month}}/{{t.year}} - {{t.hour}}:{{t.minute}}h </p>
								</div>
								<div class="col-md-6">
									<button class="btn btn-default" type="submit"> Republicar</button>
								</div>
							</div>
							<div class="row">
								<p align="left">{{t.title}}</a></p>
							</div>
							<div class="row">
								<p align="left" ng-bind-html="t.text">{{t.text}}</p>	
							</div>

							<div ng-controller="reaction-controller" ng-init="atualizeReactions(t)">
								<div class="row reaction">
									<button type="submit" ng-click="like(t)"></button>
									<p>{{likeNumber}}</p>
									<button type="submit" ng-click="dislike(t)"></button>
									<p>{{dislikeNumber}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- fim do tweet-controller -->
			</div>
		</div>
		<!-- fim do profile-controller -->
	</div>
</div>

</div>