<!--<div ng-app="my-App" ng-controller="Postit-Controller"> -->
<div ng-controller="usercontroller"> 
		<div class="site-wrapper">
    		<div class="site-wrapper-inner">
        		<div class="cover-container background-box">
					<div class="masthead clearfix">
            			<div class="inner">
              				<h3 class="masthead-brand">PostIt</h3>
              				<nav>
                				<ul class="nav masthead-nav">
                  					<li class="active"><a href="#/">Home</a></li>
					                <li><a href="#">Saiba Mais</a></li>
					                <li><a href="#">Contato</a></li>
                				</ul>
              				</nav>
            			</div>
          			</div>

          			<div class="inner cover">
          				<form  novalidate  accept-charset="utf-8" class="form" role="form">
          					<legend>Cadastre-se</legend>
            				<h4>É grátis e sempre será grátis!</h4>
            				<div class="row">
              					<div class="col-xs-6 col-md-6">
               						<input type="text"  ng-model="user.firstname" value="" min="3" max="32" class="form-control input-lg" placeholder="Nome" required />
              					</div>
              					<div class="col-xs-6 col-md-6">
                					<input type="text" ng-model="user.lastname" min="3" max="128" value="" class="form-control input-lg" placeholder="Sobrenome" required />
              					</div>
            				</div>
            				<input type="email" ng-model="user.email" value="" class="form-control input-lg" placeholder="Seu Email" required />
              				

             				<div class="row">
                				<div class="col-md-6">
                					<input type="text" ng-model="user.user"  min="3" max="15" value="" class="form-control input-lg" placeholder="@Usuário" required />
                				</div>
                				<div class="col-md-2">
                					<label>Sexo:</label>
                				</div>
                				<div class="col-md-4">
	                				<select name="Sexo" class = "form-control input-lg" ng-model="user.gender">
										<option value="m">masculino</option>
										<option value="f">feminino</option>
									</select>    
								</div>
              				</div>

              				<div class="row">
                				<div class="col-xs-6 col-md-6">
                					<input type="password" ng-model="user.password" value="" class="form-control input-lg" placeholder="Senha" required />
                				</div>
                				<div class="col-xs-6 col-md-6">
                					<input type="password" name="confirm_password" value="" class="form-control input-lg" placeholder="Confirme sua senha" required />                    
                				</div>
              				</div>

               
            				<div class="row">
              					<div class="col-xs-3 col-md-3">
                					<label>Data de Nascimento</label>
                				</div>
              					<div class="col-xs-3 col-md-3">
                					<select name="day" ng-model="user.birthday" class = "form-control input-lg">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
										<option value="16">16</option>
										<option value="17">17</option>
										<option value="18">18</option>
										<option value="19">19</option>
										<option value="20">20</option>
										<option value="21">21</option>
										<option value="22">22</option>
										<option value="23">23</option>
										<option value="24">24</option>
										<option value="25">25</option>
										<option value="26">26</option>
										<option value="27">27</option>
										<option value="28">28</option>
										<option value="29">29</option>
										<option value="30">30</option>
										<option value="31">31</option>
									</select>
				                </div>
                				<div class="col-xs-3 col-md-3">
                  					<select name="month" ng-model="user.birthmonth" class = "form-control input-lg">
										<option value="01">Jan</option>
										<option value="02">Fev</option>
										<option value="03">Mar</option>
										<option value="04">Abr</option>
										<option value="05">Mai</option>
										<option value="06">Jun</option>
										<option value="07">Jul</option>
										<option value="08">Ago</option>
										<option value="09">Set</option>
										<option value="10">Out</option>
										<option value="11">Nov</option>
										<option value="12">Dez</option>
									</select>
								</div>
               					<div class="col-xs-3 col-md-3">
                  					<select name="year" ng-model="user.birthyear" class = "form-control input-lg">
										<option value="1935">1935</option>
										<option value="1936">1936</option>
										<option value="1937">1937</option>
										<option value="1938">1938</option>
										<option value="1939">1939</option>
										<option value="1940">1940</option>
										<option value="1941">1941</option>
										<option value="1942">1942</option>
										<option value="1943">1943</option>
										<option value="1944">1944</option>
										<option value="1945">1945</option>
										<option value="1946">1946</option>
										<option value="1947">1947</option>
										<option value="1948">1948</option>
										<option value="1949">1949</option>
										<option value="1950">1950</option>
										<option value="1951">1951</option>
										<option value="1952">1952</option>
										<option value="1953">1953</option>
										<option value="1954">1954</option>
										<option value="1955">1955</option>
										<option value="1956">1956</option>
										<option value="1957">1957</option>
										<option value="1958">1958</option>
										<option value="1959">1959</option>
										<option value="1960">1960</option>
										<option value="1961">1961</option>
										<option value="1962">1962</option>
										<option value="1963">1963</option>
										<option value="1964">1964</option>
										<option value="1965">1965</option>
										<option value="1966">1966</option>
										<option value="1967">1967</option>
										<option value="1968">1968</option>
										<option value="1969">1969</option>
										<option value="1970">1970</option>
										<option value="1971">1971</option>
										<option value="1972">1972</option>
										<option value="1973">1973</option>
										<option value="1974">1974</option>
										<option value="1975">1975</option>
										<option value="1976">1976</option>
										<option value="1977">1977</option>
										<option value="1978">1978</option>
										<option value="1979">1979</option>
										<option value="1980">1980</option>
										<option value="1981">1981</option>
										<option value="1982">1982</option>
										<option value="1983">1983</option>
										<option value="1984">1984</option>
										<option value="1985">1985</option>
										<option value="1986">1986</option>
										<option value="1987">1987</option>
										<option value="1988">1988</option>
										<option value="1989">1989</option>
										<option value="1990">1990</option>
										<option value="1991">1991</option>
										<option value="1992">1992</option>
										<option value="1993">1993</option>
										<option value="1994">1994</option>
										<option value="1995">1995</option>
										<option value="1996">1996</option>
										<option value="1997">1997</option>
										<option value="1998">1998</option>
										<option value="1999">1999</option>
										<option value="2000">2000</option>
										<option value="2001">2001</option>
										<option value="2002">2002</option>
										<option value="2003">2003</option>
										<option value="2004">2004</option>
										<option value="2005">2005</option>
										<option value="2006">2006</option>
										<option value="2007">2007</option>
										<option value="2008">2008</option>
										<option value="2009">2009</option>
										<option value="2010">2010</option>
										<option value="2011">2011</option>
										<option value="2012">2012</option>
										<option value="2013">2013</option>
									</select>
                				</div>
            				</div>
            				
            				<input type="textarea" rows="5" ng-model="user.description"  min="3" max="200" rows="5" value="" class="form-control input-lg" placeholder="Descrição"  required />

            				<div class="row">
            					<div class="col-md-4">
            						<label>Imagem de perfil:</label>
            					</div>

            					<div class="col-md-8">
            						<input type="file" id="imgInp">
            					</div>
            				</div>
            				

              				<br/>
              				<br/>
              				<p class="lead">
                				 <input type="submit" class="btn btn-lg btn-primary btn-block signup-btn" ng-click="sendNewUser(user)" value="Cadastrar" />
              				</p>
           				</form>
           			</div>
				<div class="mastfoot">
          			<div class="inner">
             			<p>Trabalho da Disciplina <a href="#">SCC0219</a>, by <a href="#">@Grupo 02</a>.</p>
           			</div>
          		</div>
        	</div>
			</div>
		</div>
		</div>
