
<div class="container">
    <div class="row">

        <!-- COLUNA DA ESQUERDA-->
        <div class="col-md-2" style="padding: 0px">
            <div class="row row-top">
                <ul class="nav navbar-nav" style="margin: 10px 0px 10px 20px;">
                    <li><a href="#">Top20 usuários</a></li>
                    <li><a href="#">Top20 publicações</a></li>
                    <li><a href="#">Cálculo de influência</a></li>
                    <li><a href="#">Mais similares</a></li>
                </ul>
            </div>
        </div>

        <!-- COLUNA DO MEIO-->
        <div class="col-md-10" style="padding: 0px">
            <div class="row row-top">
                oi
            </div>
        </div>

    </div>
</div>