
<!-- inicio do statistics-controller -->
<div class="container" ng-controller="statistics-controller" ng-init="getStatistics()">
    <div class="row">

        <!-- COLUNA TOP20 USUARIOS -->
        <div class="col-md-3" style="padding: 0px">
            <div class="row row-top">
                <p><strong>TOP20 MAIS INFLUENTES</strong></p>
            </div>
             <div class="row row-bottom">
                <div ng-repeat="item in topUsersList">
                    <div> <p> <a ng-click="redirectTo(item.login)">@{{item.login}}</a> -  {{item.points}} pontos</p> </div>
                </div>
            </div>
        </div>

        <!-- COLUNA TOP10 MAIS PARECIDOS-->
        <div class="col-md-3" style="padding: 0px">
            <div class="row row-top">
                <p><strong>TOP10 MAIS PARECIDOS</strong></p>
            </div>
            <div class="row row-bottom">
                <div ng-repeat="item in topUsersList">
                    <div> <p> <a ng-click="redirectTo(item.login)">@{{item.login}}</a> -  {{item.points}} pontos</p> </div>
                </div>
            </div>
        </div>

        <!-- COLUNA TOP20 MELHORES POSTAGENS-->
        <div class="col-md-6" style="padding: 0px">
            <div class="row row-top">
            <p><strong>TOP20 MELHORES POSTAGENS</strong></p>
            </div>
            <div ng-repeat="t in topPublicationsList">
                <div class="row row-middle">
                        <div ng-if="t.share">
                            <div class="row">
                                <div class="col-md-6">
                                    <img class="img-rounded" src="images/madruga.jpg" width="40" height="40">
                                    <p align="left"><strong><a href="">@{{t.share_login}}</a></strong> REPUBLICOU </p>
                                    <p align="left"> {{t.day}}/{{t.month}}/{{t.year}} - {{t.hour}}:{{t.minute}}h </p>
                                </div>
                            </div>
                        </div>

                        <div class="row row-middle">
                            <div class="row">
                                <div class="col-md-6">
                                    <img class="img-rounded" src="images/madruga.jpg" width="40" height="40">
                                    <p align="left"><strong><a ng-click="redirectTo(t.login)">@{{t.login}}</a></strong></p>
                                    <div ng-if="!t.share">
                                        <p align="left"> {{t.day}}/{{t.month}}/{{t.year}} - {{t.hour}}:{{t.minute}}h </p>
                                    </div>
                                    <div ng-if="t.share">
                                        <p align="left"> {{t.sday}}/{{t.smonth}}/{{t.syear}} - {{t.shour}}:{{t.sminute}}h </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <p align="left">{{t.title}}</a></p>
                            </div>

                            <div class="row">
                                <p align="left" ng-bind-html="t.text">{{t.text}}</p>    
                            </div>

                            <div ng-controller="reaction-controller" ng-init="atualizeReactions(t)">
                                <div class="row reaction">
                                    <button type="submit" ng-click="like(t)"></button>
                                    <p>{{likeNumber}}</p>
                                    <button type="submit" ng-click="dislike(t)"></button>
                                    <p>{{dislikeNumber}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fim do statistics-controller -->


